/* Jquery Project*/

/* HTML, BODY CSS, JS*/

body {
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
  background: url("../images/wrigley.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stadium.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stadium.jpg', sizingMethod='scale');
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bolder;
}

header {
  margin-bottom: 20px;
}

.cubs {
  width: auto;
  height: 100px;
  margin: 0 auto;
  background-color: Blue;
  color: white;
  border: solid #cc3433;
  border-width: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.btn-primary,
.reset {
  background-color: #cc3433;
  color: white;
  font-family: "Concert One", cursive;
  font-size: 30px;
  padding: 20px;
  margin-top: 100px;
}
.btn-primary:hover,
.reset:hover {
  background-color: #cc3433;
}

.container {
  margin-top: 50px;
  text-align: center;
  height: 100%;
  width: 700px;
  background: rgba(0, 0, 0, 0.3);
}

h2,
#message,
#finalMessage {
  font-family: "Concert One", cursive;
}

.thisChoice:hover {
  background-color: #cc3433;
  color: white;
  padding: 10px;
}

#gif {
  margin: 30px;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    size: 200%;
  }

  .cubs {
    font-size: 30px;
  }
}
